# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\DUT INFO\Semestre 3\Algorithmique avancee\Projet_Algorithmique_Avancee_SoloNoble\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
